.border-beam-container {
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 1px solid transparent;
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
  mask-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
  overflow: hidden;
}

.border-beam {
  position: absolute;
  aspect-ratio: 1;
  width: var(--size, 50px);
  background: linear-gradient(to left, var(--color-from, #ffaa40), var(--color-to, #9c40ff), transparent);
  border-radius: 50%;
  opacity: 0.7;
}

.border-beam.animate {
  animation: beam-move var(--duration, 6s) var(--delay, 0s) linear infinite;
  animation-direction: var(--direction, normal);
}

@keyframes beam-move {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(calc(100% - var(--size, 50px))) translateY(0);
  }
  50% {
    transform: translateX(calc(100% - var(--size, 50px))) translateY(calc(100% - var(--size, 50px)));
  }
  75% {
    transform: translateX(0) translateY(calc(100% - var(--size, 50px)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

